.pixelfont {
    font-size: 16px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.emfont {
    font-size: 2em;
    color: rgb(255, 0, 64);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.remfont {
    font-size: 1rem;
    color: rgb(0, 255, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}