*{
    padding: 0px;
    margin: 0px;
}
h1{ 
    font-family: 'Roboto Condensed', sans-serif;
}

p{
 font-family: 'Roboto Condensed', sans-serif;
}
div{
 background-color: gray;
 
}
.image{
    height: 50vh;
    width: 50vw;
}
.main-image{
    height: 50vh;
    width: 50vw;

}
.parent {
    font-size: 18px;
    background-color: gray;
    
  }
.child {
    font-size: 1.5em;
    padding: 2em 1em;
    background-color: gray;
}
