*{
    padding: 0px;
    margin: 0px;
}
h1{ 
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Zen Tokyo Zoo', cursive;
}
p{

}
.font{
 background-color: magenta;
 padding-top: 10px;
 padding-left: 10px;
 padding-bottom: 10px;
}
.image{
    height: 30vh;
    width: 25vw;
}
.main-image{
    height: 30vh;
    width: 25vw;

}
.parent {
    font-size: 18px;
    background-color: blueviolet;
  }
.child {
    font-size: 1.5em;
    padding: 2em 1em;
    background-color: burlywood;
  }
