/* CSS Resset */

:root {
    --main-bg-color: #000000;
    --button-links-color: #8739FA;
    --main-font-color: #f6f6f6;
    --sub-font-color: #777779;
    --links-icon-color: #626164;
    --secondary-bg-color: #252525;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* font for logo */
/* font-family: 'WindSong', cursive; */

#main {
    background: var(--main-bg-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


/* nav bar styling */
nav {
    display: flex;
    justify-content: space-around;
    /* background: var(--main-bg-color); */
    width: 100%;
    height: 15vh;
    position: fixed;
    box-shadow: 0px 17px 32px 0px rgba(0,0,0,0.27); 
    top: 0;
    left: 0;
    z-index: 1;
}



a.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'WindSong', cursive;
}

.logo {
    font-size: 2em;
    color: var(--main-font-color);
    font-weight: 700;
}


.logo:hover {
    transition: 0.3s;
    text-shadow: 2px 0px 26px rgba(135,57,250,1);
} 

ul.menu {
        display: flex;
        align-items: center;
        list-style: none;
        /* background: yellowgreen; */
        width: 50%;
        justify-content: space-around;
    
}

ul.menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.175em;
    color: var(--sub-font-color);
    font-family: 'Poppins', sans-serif;
  
}

ul.menu li a:hover {
    color: var(--main-font-color);
}



 nav .hamburger, nav .hamburger-icon {
    display: none;

}   

/* Nav bar styling ends here */

.content {
    /* background: #777779; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-links-color);
    border-radius:  53% 47% 67% 33% / 29% 39% 61% 71%;
    
}

.img img {
    width: 100%;
    height: 100%;


}

.intro {
    width: 500px;
    
}

.intro_content {
    font-size: 4em;
    line-height: 1;
    font-weight: 400;
    color: var(--main-font-color);
    margin-bottom: 0.5rem;
    
}

.description {
    font-size: 2em;
    color: var(--sub-font-color);
}

.hireme-btn {
    width: 190px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 11px;
    color: var(--main-font-color);
    display: grid;
    place-items: center;
    background: var(--button-links-color);
} 


#aboutme-container {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 125%;
    left: 50%;
    background: var(--main-font-color);
    transform: translate(-50%,-50%);
}

.aboutme-heading {
    width: 80%;
    height: 50vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -10px; */
    
}


.intro_content {
    font: 2em;
}

.aboutme-heading .intro_content {
    color: var(--main-bg-color);
}
.my-desc {
    /* background: chocolate;  */
    max-width: 50%;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.my-desc .description {
    font-size: 1.125em;
    text-align: center;
    line-height: 40px;
    margin-top: unset;
    color: var(--secondary-bg-color);
}


.content {
    animation: slide 1s linear 0s 1 forwards;
}

.aboutme-container, .skills, .experience, .my-projects, .contact{
    animation: slide 1s linear 0s 1 forwards;
}

@keyframes slide {
    0%{opacity: 0;  padding: 0px 100px;}
    50%{opacity: 0.5; padding: 0px 50px;}
    75%{opacity: 0; padding: 0px 30px;}
    100%{opacity: 1; padding: 0px 0px;}
}

/* Styling skills section */

#skills {
    width: 100%;
    /* height: 80vh;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 185%;
    left: 50%;
    background: var(--main-bg-color);
    transform: translate(-50%,-50%);
    
}

.skill-text {
    /* background: chartreuse; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center
    /* flex-grow: 1; */
}

.skill-text h1 {
    font-size: 2.5em;
    color: var(--main-font-color);
    letter-spacing: 2px;
}

.skill-name h3 {
    font-size: 1.875em;
    color: var(--main-font-color);
    margin-bottom: -10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: stretch;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.skill-box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 2em;
    color: var(--sub-font-color);
}

.fas {
    color: var(--button-links-color) !important;
    font-size: 2.5em !important;
}

/* Skill section complete */


/* Styling Project section */

#my-projects {
    width: 100vw;
    /* height: 80vh; */
    /* background: var(--secondary-bg-color); */
    position: absolute;
    top: 220%;
    /* left: 50%; */
}


.project-text {
    color: var(--main-bg-color);
    margin: 5%;
    letter-spacing: 2px;
    font-size: 2em;
    
} 

.project-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: var(--button-links-color); */
}

.project-img {
    width: 30vw;
    height: 50vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 38px 1px rgba(0,0,0,0.75);
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}


.project-name {
    font-size:1.9375em ;
    color: var(--secondary-bg-color);
}

.project-description {
    color: var(--sub-font-color);
    font-size: 1.2em;
}


.project-details {

    flex: 0.7;
    
}

.project-details1 {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

}


