*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:100vh;
    
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #0e0d0d;
    color: #FFFFFF;
    
}

nav ul{
	display: flex;
}


nav ul li a {
	
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
    color:#FFFFFF;
}

nav ul li a:hover{
	background-color: #db4040;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px #ee5d4a4d;
	transition: all ease 0.2s;

}
.model img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.model{
	width:500px;
	height: 500px;
}
.content{
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    background-color: rgb(221, 216, 194);
    
}
.main-text{
	width:500px;
}
.main-text h1{
	font-size: 2rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 60px;
}
.main-text p{
	color:#111010;
    margin-bottom: 10px;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #0d0e0d;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(8, 8, 8, 0.2);
}
.portfolio-btn:hover{
	background-color: #f33a34;
	transition: all ease 0.2s;
}

#about{
	width:100%;
	height: 100vh;
	background-color:#6e6969;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	font-family: 'Lato', sans-serif;
	width: 50%;
}
.about-text h1{
	font-size: 3rem;
	color:#f2f7f6;
}
.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
    margin-bottom: 12px;
	
}
.about-text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#f75b34;
    color: #FFFFFF;
}
.about-text button:hover{
	background-color: #f06969;
	transition: all ease 0.3s;
}
.contact{
    padding: 10px;
    
    
}
.contact h2{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10px;
    color: rgb(15, 28, 211);
}
.contact h2:hover{
    color: rgb(196, 17, 11);
}
.contact ul{
    list-style: none;
    margin-left: 40px;
  
}
.contact ul li{
    margin-bottom: 10px;
    display: flex;
}

.contact ul li a{
    background-color: rgb(203, 215, 216);
    padding: 12px;
    height: 37px;
    border-radius: 40%;
    
}
.contact ul li a:hover{
background-color: #83d4ec;
transition: all ease 0.2s;
}
